<nav class="navbar-fixed-top navbar-default nav-down">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EMILIO CORPUS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li class="text-center nav-custom-color">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="text-center nav-custom-color active">
            <%= link_to 'About Me',  about_path%>
          </li>
          <li class="text-center nav-custom-color">
          <%= link_to 'Blogs', blogs_path %>
          </li>
          <li class="text-center nav-custom-color">
            <%= link_to 'Portfolio', portfolio_path %>
          </li>
          <li class="text-center nav-custom-color">
            <%= link_to 'Resume', resume_path %>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>


