<%= render 'partials/navbar_blogs' %>
<div class="body-container debugger"> 
	<div class ="blogs-container">
		<% @blogs.each do |blog| %>
			<div class=" blog">
				<p class="blog-title">
					<%= blog.title %>
				</p>
				<hr />
				<p class="blog-date">
					<%= blog.created_at.strftime("%A") %>, 
					<%= blog.created_at.strftime("%B #{blog.created_at.day.ordinalize}, %Y")%>
				</p>
				<p class="blog-content">
					<%= blog.content %>
				</p>
			</div>
		<% end %>
	</div>
</div>